.btn-primary {
  border: 1px solid transparent;
  outline: 2px solid transparent;
  background: transparent;
  padding: 5px 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  color: var(--terciary);
}

.btn-secondary {
  border: 1px solid transparent;
  outline: 2px solid var(--text-span);
  background: transparent;
  padding: 5px 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.inactive {
  color: var(--text-span);
}

.btn:hover {
  border: 1px solid var(--terciary);
  outline: 2px solid var(--terciary);
  outline-offset: 2px;
  background: var(--btn-bg-primary);
}

.inactive:hover {
  border: 1px solid var(--text-inactive);
  outline: 2px solid var(--text-inactive);
  outline-offset: 2px;
  background: var(--btn-bg-secondary);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--text-span);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.avatar {
  position: absolute;
  top: 16px;
  left: 20px;
  width: 36px;
  height: 36px;
}

.divider-left::before {
  position: absolute;
  content: '';
  left: 36px;
  bottom: 52px;
  width: 2px;
  height: calc(100% - 110px);
  background: var(--bg-500);
}

.divider::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--bg-500);
}

.post-published {
  margin-top: .5rem;
  font-size: 14px;
}